*pyc
*#
*flymake*
data/*
*.orig
*.log
*.env
*.list
output/
input/
.idea/
*.list
!docker_faro_env_example.list
test-reports/*
# Ensure no output files are published
*.entity
*.score
# Ignore coverage stats and config
.coverage
nosetests.xml
.keep
venv
*.log
*.log*
env
